head
    block meta
        meta(
            charset='utf-8'
        )
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'
        )

    block title
        title Belfood

    block fonts
        link(
            href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
            rel='stylesheet'
            type='text/css'
        )

    block css
        link(
            href='/static/css/style.css'
            rel='stylesheet'
        )
