//- layout.jade
doctype html
html
    block head
        include head

    body
        block header
            include header

        block content
				
				block js
		        script(
		            src='/static/bower_components/jquery/dist/jquery.min.js'
		        )
		        script(
		            src='/static/bower_components/bootstrap/dist/js/bootstrap.min.js'
		        )
		        script(
		            src='/static/bower_components/jquery.caret/dist/jquery.caret-1.5.2.min.js'
		        )
		
		    block js-custom
		        script(
		            src='/static/js/js.js'
		        )

        block footer
            include footer
