html,
body {
	height: 100%;
}

body {
	color: $color-main;
	background-color: #fff;
	font-family: $roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}

p {
	font-size: 1rem;
	line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $slab;
	font-weight: 700;
	// color: $header-blue;
	text-transform: uppercase;
}

h1 {
	font-size: 3.429rem;
}

h2 {
	font-size: 3.571rem;
}

h3 {
	font-size: 1.714rem;
}
