@mixin clearfix {
	&::after, {
		content: "";
		display: table;
		clear: both;
	}

	&::before {
		content: "";
		display: table;
	}
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
